.peacockColor
{
    margin:5px 10px;
    color:#00f0ff;
    font-weight:600;
    letter-spacing:1px;
}

.btn-sidebar {
    border-collapse: collapse;
    color: #5b65d4;
    text-align: left;
    font-size: 0.95em;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    display: table-cell;
    cursor: pointer;
    vertical-align: top;
    letter-spacing: 2px;
    border-spacing: 0px;
    padding: 15px 20px;
    
}

.btn-hollow
{
    margin: 2% 0;
    width: 100%;
    min-height: 40px;
    border: 1px solid #00f0ff;
    border-radius: 5px;
    font-size: 1em;
    color: #00f0ff;
    background-color: rgba(0,0,0,0);
  }
.btn-hollow :hover{
    color: #fff !important;
    background-color: #00f0ff;
  }

.logo-name {
    font-weight:800;
    font-size:2.3em;
    padding:0 18%;
}
#uport__modal-content {
    position: relative;
    display: inline-block;
    z-index: 101;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    max-width: 400px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.1);
    color: #7C828B;
    font-family: Avenir;
    font-size: 18px;
    text-align: center;
}

#uport__modal-main {
    display: inline-block;
    width: 200px;
}

.uport__grey {
    display: none;
}

#uport__modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    z-index: 100;
    width: 500px;
    height: 100%;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  