body, html {
    height: 100%;
    background-color: rgba(14,14,30,1);
    background: linear-gradient(to right, #0b0b18 0%, #151a34 100%);
    font-family: 'Raleway', sans-serif;

}
html{
  background-color: rgba(14,14,30,1);
}

.sidenav {
  height: 98vh; /* Full-height: remove this if you want "auto" height */
  width: 25%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 10; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #0c0c1b; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  color: #fff;
  text-transform: uppercase;
  //border-radius: 0px 50px 50px 0px;
}

.sidenav-content{
  padding: 40px 0;
  text-align: left;
  text-decoration: none;
  margin: 0 auto;
}
/* The navigation menu links */
.sidenav li {
  font-size: 15px;
  display: block;
  font-weight: 700;
  letter-spacing: 2.5px;
}

.sidenav li a{
  text-decoration: none;
  padding: 18px 18%;
  color: #272b59;
  display: block;
  cursor: pointer !important;
}
.active{
  color:#404691 !important;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {

    background-color: #0f0f23;
}

.sub-div-2:hover{
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
transition: all 0.2s;
}

.sub-div-2{
  transition: all 0.2s;
}

.public-icon:hover{
  background-color: #42B4B4;
  color: #fff !important;
  transition: all 0.2s;
}
.public-icon{
  transition: all 0.2s;
}
/* Style page content */
.main {
    margin-left: 25%; /* Same as the width of the sidebar */
    padding: 0;
}


.card-header {
    padding: 1em 1.8em;
    font-weight: 700;
    background-color: #111425;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 0.9em;
    border-radius: 5px 0 0 0 ;
}
.card .blue{
  color: #00f0ff;
  border-left: 8px solid #00f0ff;
}
.card .orange{
  color: #ff8400;
  border-left: 8px solid #ff8400;
}

.blue span{
  text-shadow: 0px 0px 10px rgba(0,238,255,0.5);
}
.orange span{
  text-shadow: 0px 0px 10px rgba(255,132,0,0.5);
}
.card {
    margin: 0 auto;
    width: 85%;
    border-radius: 10px;
    background-color: #13172a;
    z-index: 10;
}
.card-body {
    padding: 1.25rem;
    padding-bottom: 2rem;
}

img {
    width: 100%;
    max-height: 100%;
}

.table-div{
  padding:25px;
}
table{
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  font-weight: 600;
  font-size: 0.95em;
  letter-spacing: 1px;
  text-align: center;
  background: #111425;
  color: #5b65d4;
  border-radius: 10px;
  overflow: none;
  border: none;
}
.header-tr{
  background: #0d0f1b;
  border-radius: 10px;
}

.table-div th{
  font-weight: 400;
  color:#464eac;
  font-size: 0.8em;
  border-spacing: 0px;
  padding: 20px 0;
  border: none;
}
.strike{
  color: #ffd041;
}
.premium{
  color: #00ff96;
}

.table-div td{
  letter-spacing: 2px;
  border-spacing: 0px;
  padding: 15px 0;
  border: none;
}


.input-form{
  width: 80%;
  height: 40px;
  border: none;
  border-radius: 10px 20px 20px 10px;
  background-color: #0d0f1b;
  color: #fff;
  font-size: 0.8em;
  padding: 5px 20px;
}
input[type="text"], input[type="submit"]{
  font-weight: 100;
  outline: none;
}
input[type="submit"]{
  margin-top: 5%;
  width: 40%;
  height: 40px;
  border: 1px solid #00f0ff;
  border-radius: 5px;
  font-size: 1em;
  color: #00f0ff;
  background-color: rgba(0,0,0,0);
}
input[type="submit"] :hover{
  color: #fff !important;
  background-color: #00f0ff;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #00ffc6;
  opacity: 0.3; /* Firefox */
}

.action-btn{
  background:#141830;
  cursor:pointer;
}
.action-btn:hover{
  background:#1a1f3d;
  cursor:pointer;
}
